* {
  margin: 0;
  padding: 0;
}

.container {
  background-color: #034f84;
  padding: 15px;

  display: flex;
  flex-direction: row; /* default */
  flex-direction: row-reverse;
  flex-wrap: nowrap; /* default */
  flex-wrap: wrap;
  flex-wrap: wrap-reverse;

  /* flex-direction: column;
  flex-direction: column-reverse; */

  flex-flow: row nowrap;
  flex-flow: row wrap;
  flex-flow: row wrap-reverse;
  flex-flow: row-reverse wrap-reverse;
}

.item {
  background-color: #f7b733;
  padding: 30px;
  margin: 30px;
  color: #fff;
  font-size: 25px;
}
