.btn {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 7px 15px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.btn-primary {
  background-color: tomato;
  color: white;
  border: 2px solid tomato;
}

.btn-outline-primary {
  background-color: white;
  color: tomato;
  border: 2px solid tomato;
}

.btn-primary:hover {
  background-color: white;
  color: tomato;
  border: 2px solid tomato;
}

.btn-outline-primary:hover {
  background-color: tomato;
  color: white;
  border: 2px solid tomato;
}

.btn-secondary {
  background-color: darkcyan;
  color: white;
  border: 2px solid darkcyan;
}

.btn-secondary:hover {
  background-color: white;
  color: darkcyan;
}

.btn-outline-secondary {
  background-color: white;
  color: darkcyan;
  border: 2px solid darkcyan;
}

.btn-outline-secondary:hover {
  background-color: darkcyan;
  color: white;
  border: 2px solid darkcyan;
}
