* {
  margin: 0;
  padding: 0;
}

.container {
  background-color: #f2f2f2;
  padding: 15px;
  height: 1200px;
  display: flex;
  flex-direction: column; /* justify-content dikey olur. align-items yatay

  /* justify-content: flex-start; /* default, sola yaslar */
  justify-content: center; /* ortalar */
  /* justify-content: flex-end; /* sağa yaslar */
  /* justify-content: space-between; /* aralarını eşit olarak açar*/
  /* justify-content: space-around; /* sağ sol: x, ortalar: 2x*/
  /* justify-content: space-evenly; /* her yerden eşit*/

  /* align-items: stretch; /* default, uzatır */
  align-items: center; /* ortalar */
  align-items: flex-start; /* yukarı yaslar */
  /* align-items: start; /* yukarı yaslar */
  align-items: flex-end; /* aşağı yaslar */
  /* align-items: end; /* aşağı yaslar */
  /* align-items: baseline; /* yazıların altına yaslar */
}

.item {
  background-color: brown;
  padding: 30px;
  margin: 30px;
  color: #fff;
  font-size: 25px;
}

.i2 {
  height: 200px;
}

.i3 {
  height: 300px;
}

/* baseline için */
.i4 {
  font-size: 50px;
}
